*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
body{
    background-color: #0D0D0D;
}
.div-container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 8px;
    padding-right: 8px;
}
header{
    background-color: rgb(58, 58, 58);
    border-radius: 55px;
    margin-top: 20px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgba(255, 255, 255, 0.15);
    padding: 10px;
}
ul{
    display: flex;
    align-items: center;
    gap: 30px;
}
.li-header{
    list-style: none;
    color:#E0E0E0;
}
.burger-icon{
    display: none;
}
.div-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.div-language-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.button-login-header{
    color: #3563E9;
    border-radius: 5px;
    background: #FFF;
    padding: 10px;
    border: none;
}
.div-section-1{
    display: flex;
}
.div1-section-1{
    width: 45%;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 120px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.div2-section-1{
    width: 45%;
}
.div2-section-1{
    position: relative;
    display: flex;
    justify-content: flex-end;
    z-index: 1;
}
.img2-yellow-lines-section-1{
    position: absolute;
    z-index: 1;
    margin-left: -50%;
    top: 20%;
}
.img1-man-section1{
    position: relative;
    z-index: 2;
}
.get-started-section-1{
    background: #D7FB00;
    text-shadow: 
        0 0 10px #d0ff00,
        0 0 20px #fbff10,
        0 0 30px #d2df28,
        0 0 40px #fbff10,
        0 0 70px #d2df28;
    padding: 10px;
    border: none;
    border-radius: 20px;
}
h1{
    color: #E4DBDB;
    font-size: 40px;
}
.span-h1{
    color: #E4DBDB;
    font-size: 45px;
    color: #FFF;
    font-weight: 600;
}
.p-section-1{
    color: #676868;
}
.watch-video-section-1{
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border: none;
    background: none;
}
.divs-number-box{
    display: flex;
    align-items: center;
}
.h3-div-number-box{
    color: #FFF;
    font-size: 25px;
    margin-bottom: 15px;
}
.p-div-number-box{
    color: #676868;
}
.divs-number-box div:not(:last-child){
    border-right: solid 2px #676868;
}
.div-number-box{
    padding: 15px;
}
.div-buttons-section-1{
    display: flex;
    align-items: center;
    gap: 20px;
}
@media screen and (max-width:920px){
    .div-section-1{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .div1-section-1{
        width: 100%;
        padding: 40px;
    }
    .div2-section-1{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .img2-yellow-lines-section-1 {
        position: absolute;
        z-index: 1;
        margin-right: -70%;
        top: 20%;
    }
}
@media screen and (max-width:765px){
    nav{
        display: none;
    }
    .burger-icon{
        display: block;
        width: 40px;
    }
}