$slightlyDark-white: #E0E0E0;
$slightlyDark-gray: #676868;
$slightlyDark2-white: #E4DBDB;
$white-color: #FFF;
$blue-color: #3563E9;
$brighYellow-color: #D7FB00;
$brighYellow2-color: #d0ff00;
$dark-gray: rgb(58, 58, 58);
$border-color: (255, 255, 255, 0.15);
/*mixin*/
@mixin flex-spaceBetween{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flex-align-center{
    display: flex;
    align-items: center;
}
@mixin flex-justify-center{
    display: flex;
    justify-content: center;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
body{
    background-color: #0D0D0D;
}
.div-container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 8px;
    padding-right: 8px;
}
header{
    background-color: $dark-gray;
    border-radius: 55px;
    margin-top: 20px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid $border-color;
    padding: 10px;
}
.li-header{
    list-style: none;
    color: $slightlyDark-white;
}
.div-header{
    @include flex1;
}
.div-language-header{
    @include flex1;
    gap: 20px;
}
.button-login-header{
    color: $blue-color;
    border-radius: 5px;
    background: $white-color;
    padding: 10px;
    border: none;
}
.div-section-1{
    display: flex;
}
.div1-section-1{
    width: 45%;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 120px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.div2-section-1{
    width: 45%;
}
.div2-section-1{
    position: relative;
    display: flex;
    justify-content: flex-end;
    z-index: 1;
}
.img2-yellow-lines-section-1{
    position: absolute;
    z-index: 1;
    margin-left: -50%;
    top: 20%;
}
.img1-man-section1{
    position: relative;
    z-index: 2;
}
.get-started-section-1{
    background: $brighYellow-color;
    box-shadow: 0 0 20px $brighYellow2-color;
    padding: 10px;
    border: none;
    border-radius: 20px;
}
h1{
    color: $slightlyDark2-white;
    font-size: 40px;
}
.span-h1{
    color: $slightlyDark2-white;
    font-size: 45px;
    color: $white-color;
    font-weight: 600;
}
.p-section-1{
    color: $slightlyDark-gray;
}
.watch-video-section-1{
    color: $white-color;
    @include flex-center;
    gap: 15px;
    border: none;
    background: none;
}
.divs-number-box{
    @include flex-align-center;
}
.h3-div-number-box{
    color: $white-color;
    font-size: 25px;
    margin-bottom: 15px;
}
.p-div-number-box{
    color: $slightlyDark-gray;
}
.divs-number-box div:not(:last-child){
    border-right: solid 2px $slightlyDark-gray;
}
.div-number-box{
    padding: 15px;
}
.div-buttons-section-1{
    @include flex-align-center;
    gap: 20px;
}
.nav-header .ul-header{
    @include flex-align-center;
    gap: 30px;
}
@media screen and (max-width:920px){
    .div-section-1{
        @include flex-justify-center;
        flex-direction: column;
    }
    .div1-section-1{
        width: 100%;
        padding: 40px;
    }
    .div2-section-1{
        width: 100%;
        @include flex-justify-center;
    }
    .img2-yellow-lines-section-1 {
        position: absolute;
        z-index: 1;
        margin-right: -70%;
        top: 20%;
    }
}
.button-burger-icon{
    display: none;
    border: none;
    background: none;
    cursor: pointer;
}
@media screen and (max-width:765px){
    .button-burger-icon{
        display: block;
        width: 30px;
    }
    .burger-icon{
        width: 100%;
    }
    .nav-header .ul-header{
        display: none;
        flex-direction: column;
    }
    .button-burger-icon:focus +  .ul-header{
        display: block;
    }
}